repos:
    -   repo: https://github.com/astral-sh/uv-pre-commit
        # uv version.
        rev: 0.8.24
        hooks:
            -   id: uv-lock
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.13.3
        hooks:
            -   id: ruff-check
                args: [ --fix ]
            -   id: ruff-format
    -   repo: https://github.com/codespell-project/codespell
        rev: v2.4.1
        hooks:
            -   id: codespell
                args:
                    - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
                    - "--skip=./.*,*.csv,*.json,src/myPyllant/tests/data/*"
                    - --quiet-level=2
                exclude_types: [ csv, json ]
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -   id: check-executables-have-shebangs
            -   id: check-json
    -   repo: local
        hooks:
            -   id: update-sample
                name: update-sample
                entry: python src/myPyllant/tests/update_sample.py
                language: python
                pass_filenames: false
    -   repo: local
        hooks:
            -   id: mypy
                name: mypy
                entry: uv run mypy
                args:
                    - --pretty
                    - --show-error-codes
                    - --show-error-context
                    - --check-untyped-defs
                language: system
                pass_filenames: true
                files: ^src/.+\.py$
                exclude: ^src/myPyllant/tests/
            -   id: pytest
                name: pytest
                entry: uv run pytest
                args:
                    - --no-cov
                    - -n4
                language: system
                pass_filenames: false
                files: ^src/.+\.(py|json|yaml)$
