aioresponses~=0.7.6
pytest~=7.4.3
aiohttp>=3.8.0
pytest-aiohttp~=1.0.5
pytest-cov~=4.1.0
pytest-mock~=3.12.0
pre-commit~=3.5.0
build~=1.0.3
freezegun~=1.4.0
country_list~=1.1.0
requests~=2.31.0
dacite>=1.7.0
python-dateutil>=2.8.0