name: Build, test & publish

on:
    push:
    pull_request:
    schedule:
        -   cron: "0 0 * * *"

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            -   uses: actions/checkout@v5

            -   name: "Set up Python"
                uses: actions/setup-python@v6
                with:
                    python-version-file: "pyproject.toml"

            -   name: Install uv
                uses: astral-sh/setup-uv@v7

            -   name: Install the project
                run: uv sync --locked --all-extras --dev

            -   uses: pre-commit/action@v3.0.1
                env:
                    SKIP: pytest

            -   name: set pythonpath
                run: |
                    echo "PYTHONPATH=${PYTHONPATH}:${PWD}/src" >> $GITHUB_ENV

            -   name: Test with pytest
                run: |
                    uv run pytest

            -   name: Build a binary wheel and a source tarball
                run: >-
                    uv run -m
                    build
                    --sdist
                    --wheel
                    --outdir dist/

            -   name: Publish distribution to PyPI
                if: startsWith(github.ref, 'refs/tags')
                uses: pypa/gh-action-pypi-publish@release/v1